<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <div>
        <a href="/read">Read User</a>
    <h3 class="t1">Create user</h3>
    <div class="user">
        <form action="/create" method="post">
    <div class="create">
    <input type ='text' name= 'name'placeholder="Enter name">
    <input type ='email'name= 'email'placeholder="Enter Email">
    <input type ='text' name= 'image'   placeholder=" image url ">
    <button type="submit ">Submit</button>
     </div>
    </form>
    </div>
    </div> 
</body>
</html>